.dropZone-size{
    position: relative;
    width: auto;
    height: auto;
    border-width: 2px;
    border-color: rgb(0, 0, 0);
    border-style: dashed;
    border-radius: 5px;
}
.title{
    position: relative;
    margin-top: 30px !important;
    width: auto;
    height: auto;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-size: 60px;
    color: rgb(192, 191, 191);
    background-color:rgba(0, 0, 0, 0.603);
}
.subTitle{
    position: relative;
    width: auto;
    height: auto;
    text-align: center;
    color: rgba(18, 79, 129, 0.945);
    font-family: 'Poppins', sans-serif;
    font-size: 45px;
}
.segment-color{
    background-color: rgba(175, 175, 175, 0.849) !important;
}
body{
    background: url("./parisCartier.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.filesName{
    font-size: small;
}